body {
	color : #484d5a;
	text-align : center; 
	font-style:normal; 
	font-variant:normal; 
	font-weight:normal; 
	font-size:95%; 
	font-family:sans-serif; 
	background-color:#efece3 ; 
    line-height:120%; 
    text-align : justify;
}

p, ul, ol, li, h1, h2, h3, h4, h5, h6, pre {
	padding : 0;
	margin-top: 2;
	margin-bottom: 0;
}

h1, h2, h3 {
	margin-top : 10;
	margin-bottom : 5;
    font-family: Verdana, Geneva, sans-serif;
}

h1 {	font-size: 1.5em;
        padding-left: 25;         }
        
h2 {	font-size: 1.2em;
        color: #980101;}
h3 {	font-size: 1.1em;}


hr {
  border: 0px none;
  color: #043;
  background-color: #043;
  height: 1px;
  width: 100%;
  text-align: 
   left
}

th     {background-color:#e6e1d3;}
   

a {
	color : #909ab4;
	text-decoration : none;
}
a:hover {
	color : #b49a90;
	text-decoration : underline;
}

ul {
	list-style-type: square;; 
}

#titleLYR {
        text-indent: 30px;    
        vertical-alignment: bottom  ;
        background: url('../imageszen/title2.gif') no-repeat left;
}

div div div{
	font-family: courier new, courier, monospaced;
	background-color : white;
	margin : 0 auto;
	padding : 0 20px;
	width : 100%;
	font-weight: bold;
	border-left: 20px solid #3a3e49;
}


code { font-weight: bold;
       color: #6666cc; }
dfn  { color: green; }
cite { color: navy; }