body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 95%;
	color: #FFFFFF;
	background-color: #990000;
	width: 100%;
	text-align: left;
}

a:link {
	font-size: .95em;
	text-decoration: none;
	color: #ff9999;
}

a:hover {	text-decoration: underline;}

a:visited {
	color: #FFCCCC;
	text-decoration: none;}

h1, h2, h3 {
	font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {  padding-bottom: 15px;
      background: url('../imageszen/checkersm2.gif') repeat-x bottom; }

hr {
  border: 0px none;
  color: gray;
  background-color: #CCCCCC;
  height: 2px;
  width: 100%;
}

th     {background-color: #CCCCCC;
        color: #990000;}
   
div div div{
	font-family: courier new, courier, monospaced;
	background-color : #dddddd;
	margin : 0 auto;
	padding : 0px;
	width : 100%;
	font-weight: bold;
	border: 2px dotted black;
	color:black;
        font-size: .9em;
}

code { font-weight: bold;
       color: lemonchiffon; }
dfn  { color: #33ff33; }
cite { color: blue; }

p, pre {
	padding-bottom : 0;
	margin-top: 2;
	margin-bottom: 0;
}