vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|05 Feb 2006 17:01:56 -0000
vti_extenderversion:SR|5.0.2.4803
vti_backlinkinfo:VX|Vocab/lists_php_echo_lists.htm
vti_author:SR|DHW02T01\\dgregg
vti_modifiedby:SR|DHW02T01\\dgregg
vti_timecreated:TR|05 Feb 2006 17:01:56 -0000
vti_cacheddtm:TX|05 Feb 2006 17:01:56 -0000
vti_filesize:IR|1615
vti_cachedlinkinfo:VX|S|../imageszen/checker2.gif S|../imageszen/checkersm2.gif
vti_cachedsvcrellinks:VX|FSUS|Vocab/imageszen/checker2.gif FSUS|Vocab/imageszen/checkersm2.gif
vti_lineageid:SR|{397BD39C-97DA-4A01-AC3A-448CF5D8CF51}
